body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#main {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sample {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
