<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <div id="main"></div>

 
  <script type="text/javascript"> 
    var socket = io.connect('http://localhost:3000');
    socket.on('connected', function(data) {    
      console.log('Connected, this is what I received : ', data);
      }); 

    // when you get a receiveSerial event, do this 
    socket.on('sendData', function (data) {    
    	data = parseInt(data);
      $('#main').css('backgroundColor', 'rgb(0,0,'+data+')');


      console.log(data); //Check the console in chrome tools to see this


    });  
  </script>
  </body>
</html>