<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <ul id="main"></ul>

 
  <script type="text/javascript"> 
    $(document).ready(function(){
      $('#main').height(window.innerHeight);

    });

    var socket = io.connect('http://169.254.0.2:3000');
    socket.on('connected', function(data) {    
      console.log('Connected, this is what I received : ', data);
      }); 

    // when you get a receiveSerial event, do this 
    socket.on('sendData', function (data) {    
    	data = parseInt(data);

      $('#main').append('<li class="sample" style="height:100%; width:3px; background-color:rgb(0,0,'+data+')"></li>');

      console.log(data); //Check the console in chrome tools to see this


    });  
  </script>
  </body>
</html>